.shouyefenlei{
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.shouyetubiao{
  
    font-size: 70px;
 
}

.homeul {
  height: 1.7rem;
  text-align: center;
  margin-top: 40px;
  li {
    width: 24%;
    height: 1rem;
    float: left;
    font-size: 0.7rem;
  }
  p {
    font-size: 0.16rem;
    margin-top: 0.2rem;
  }
}
.homendaohang {
  h2 {
    font-size: 34px;
    margin: 15px 20px;
    span {
      float: right;
      color: #cdcdcd;
      font-size: 16px;
    }
  }
}
.homeswipe {
  width: 400% ; 
  height:4rem;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  li {
    width: 100%;
    display: inline-block; 
    height: 100%;
    img{
        width: 100%;
        height: 100%;
    }
  }
}
.homeimg{
  width: 100%;
  height: 5rem;
  margin: 15px ;
  position: relative;
  img{
    width: 98%;
    height: 98%;
    border-radius: 10%;
  }
  h3{
    position: absolute;
    left: 15px;
    top: 15px;
    font-size: 0.4rem
  }
}
