
.mytouxiang {
  width: 20vw;
  height: 20vw;
  border-radius: 50%;

  margin-left: 40vw;
  margin-top: 15vw;
}
.mytouxiang img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.myname {
  // width: 20vw;
  height: 5vw;
  line-height: 5vw;
  text-align: center;
  position: fixed;
  top: 300px;
  left: 300px;
  text-align: center;
  font-size: 40px;
}

.am-wingblank{

  
}

