.space-carousel {
   
    background: #fff;
    overflow: hidden;
    position: relative;
    img{
      border-radius: 10%;
    }
  }

  .slider-decorator-0{
      display: none
  }
  .swipeuser{
    position: absolute;
    left: 10px;
    bottom: 10px;
    color:#fff;
  }